body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.press-start {
    width: 1024px;
    height: 576px;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.start {
    width: 160px;
    height: 60px;
    position: absolute;
    margin-top: 220px;
    margin-left: -80px;
    background-color: rgb(59, 208, 46);
    border: 2px solid black;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
}

.start:hover {
    width: 155px;
    height: 55px;
    margin-top: 222px;
    margin-left: -77px;
    background-color: rgb(137, 224, 75);
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
}

.uitleg {
    margin-top: 340px;
    line-height: 28px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
    cursor: default;
}

.container {
    width: 1024px;
    height: 576px;
    background-image: url('../img/pxArt.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.damage-container {
    text-align: left;
    width: 100%;
    height: 30%;
    display: flex;
    gap: 180px;
    margin-top: 40px;
    margin-left: 30px;
}

.damage-player1 {
    width: 380px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 15px;
}
.damage-player2 {
    width: 380px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 15px;
}

.username {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
}

#damage-line-player {
    width: 300px;
    height: 10%;
    background-color: red;
    margin-left: 10px;
    border-radius: 50vw;
}
#damage-line-bot {
    width: 300px;
    height: 10%;
    background-color: red;
    margin-left: 10px;
    border-radius: 50vw;
}

#bullet-container {
    display: flex;
}
#bullet1 {
    width: 50px;
    height: 50px;
    margin-top: 180px;
}
#bullet2 {
    width: 50px;
    height: 50px;
    margin-top: 160px;
    margin-left: 300px;
    opacity: 0;
}

.character-container {
    display: flex;
}

#player-container {
    width: 100px;
    height: 120px;
    margin-top: -90px;
    margin-left: 40px;
    z-index: 21;
}
.fighter{
    width: auto;
    height: 138px;
}

#bot-container {
    width: 80px;
    height: 208px;
    margin-top: -202px;
    margin-left: 735px;
    
    z-index: 21;
}

.bot {
    width: auto;
    height: 250px;
}
