body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.press-start{
    width: 1024px;
    height: 576px;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.start{
    width: 10.2vw;
    height: 8.5vh;
    position: absolute;
    margin-top: 25.25vh;
    margin-left: -4.6vw;
    background-color: rgb(59, 208, 46);
    border: 2px solid black;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;cursor: pointer;
}

.start:hover{
    width: 10vw;
    height: 8vh;
    margin-top: 25.5vh;
    margin-left: -4.5vw;
    background-color: rgb(137, 224, 75);
    font-weight: 600;
    transition: 0.1s;
}

.game-over{
    width: 1024px;
    height: 576px;
    background-color: rgba(0, 0, 0, 0.60);
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.uitleg{
    margin-top: 38vh;
    margin-left: 0.5vw;
    line-height: 3.5vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;cursor: pointer;
}




.container {
    width: 1024px;
    height: 576px;
    background-image: url('../img/pxArt.png');
    background-size: 102%;
    background-repeat: no-repeat;
    position: relative; /* Zorg dat de container een referentiepunt is voor de absolute positionering van de bullet */
}

.damage-container {
    text-align: left;
    width: 100%;
    height: 30%;
    display: flex;
    gap: 4vw;
    margin-top: 4vh;
}

.damage-player {
    width: 40%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 15px;
    margin-left: 2vw;
}

.username {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
    margin-top: 2vh;
    margin-left: 1vw;
}

#damage-line-player {
    width: 18vw;
    height: 10%;
    background-color: red;
    margin-left: 1vw;
    border-radius: 50vw;
}
#damage-line-bot {
    width: 18vw;
    height: 10%;
    background-color: red;
    margin-left: 1vw;
    border-radius: 50vw;
}

#bullet-container{
    display: flex;
}
#bullet1 {
    width: 50px;
    height: 50px;
    margin-top: 25vh;
}
#bullet2 {
    width: 50px;
    height: 50px;
    margin-top: 20vh;
    margin-left: 30vh;
    opacity: 0;
}



.character-container{
    display: flex;
}


#player-container{
    width: 5vw;
    height: 15vh;
    margin-top: -12.8vh;
    margin-left: 4vw;
}
.fighter{
    width: 5vw;
}

#bot-container{
    width: 8vw;
    height: 26vh;
    margin-top: -24.5vh;
    margin-left: 35vw;
}
.bot{
    width: 8vw;
    height: 26vh;
}
/*
@keyframes waterBullet {
    0% {
        left: 80px; 
    }
    75% {
        left: 1000px; 
    }
    100% {
        left: 1010px;
        opacity: 0;
    }
}
